@import "../../../styles.scss";

.technologies-left{
    position: absolute;
    left: 50px;
}
.technologies-right{
    position: absolute;
    right: 45px;
}

.card{
    border: none;
    background-color: #11151ca6;
    color: white;
    width: 740px;
    height: 500px;
}
.profile-image{
    width: 300px;
    height: 200px;
}
.about-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $prussian-blue;
    height: 100vh;
}