<div class="container-fluid about-container">

  <div class="technologies-left">
    <div class="d-flex flex-row">
      <div class="p-2">
        <img src="../../../assets/images/java-icon.svg" alt="java" width="200" height="200">
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2"><img src="../../../assets/images/android-brands.svg" alt="android" height="100" width="100"></div>
      <div class="p-2"><img src="../../../assets/images/git-square-brands.svg" alt="html5" height="100" width="100"></div>
    </div>
  </div>

  <div class="technologies-right">
    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <img src="../../../assets/images/angular-brands.svg" alt="java" width="200" height="200">
      </div>
    </div>
    <div class="d-flex flex-row-reverse">
      <div class="p-2"><img src="../../../assets/images/js-square-brands.svg" alt="android" height="100" width="100"></div>
      <div class="p-2"><img src="../../../assets/images/html5-brands.svg" alt="html5" height="100" width="100"></div>
    </div>
  </div>

    <div class="card about-card mb-4">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">About me</h5>
              <p class="card-text">
                I am a young enthusiast developer from Nairobi with interests in everything web and mobile technology. 
                I am currently a second-year student in JKUAT pursing BSc. in Mathematics and Computer Science. <br>
                My hobbies are playing football, exercising and discovering great music to bop my head to and dance along with. 
                I am also into gaming and I would like to get into game development when I become a seasoned developer.<br>
                I have always had a special part in my heart for computers. I was fortunate enough to enrol to Moringa's Software
                Development Core Program where I met other developers with the same interests and enthusiasm as me and learn a 
                lot of interesting technologies together.<br>
                I am proficient in C, Java, JavaScript, HTML, CSS and SCCS. I have done and completed several projects in my duration 
                in Moringa. Below are some of my best work to date.

            </div>
          </div>
          <div class="col-md-4">
            <img class="profile-image" src="../../../assets/images/profile (2).jpeg" class="card-img img-rsp" alt="profile-image">
          </div>
        </div>
      </div>
</div>