@import "../../../styles.scss";

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.footer-navlinks{
    padding: 0px 10px;
    // border-bottom: 2px solid $primary-blue;
    transition : box-shadow 1s linear;
    &:hover{        
        box-shadow: 0px 0px 0px 10px $primary-blue;
    }
}
.footer-list{
    background-color: $prussian-blue;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 20px;
    margin: 0px;
}
.footer-text{
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $rich-black;
    color: $prussian-blue;
}