<div class="footer">
    <div class="footer-list">
        <a class="footer-navlinks" href="http://" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/color/200/000000/github--v1.png" alt="Github" width="50px" height="50px"/>
        </a>
        <a class="footer-navlinks" href="http://" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/color/200/000000/linkedin.png" alt="LinkedIn" width="50px" height="50px"/>
        </a>
        <a class="footer-navlinks" href="http://" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/officel/200/000000/twitter.png" alt="Twitter" width="50px" height="50px"/>
        </a>
    </div>
    <div class="footer-text">
        <p>&copy;2020 <span class="font-weight-bold">Ben Ruwel</span> </p>
    </div>
</div>