<div class="wrapper dark-navbar">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="https://img.icons8.com/fluent/200/000000/source-code.png" width="50" height="50" class="d-inline-block align-top" alt="Code-logo" loading="lazy">
        </a>
        <p class="title">ben ruwel</p>
        <div class="collapse nav-left navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-link" href="#">About</a>
              <a class="nav-link" href="#">Porfolio</a>
              <a class="nav-link" href="#">Contact me</a>
            </div>
          </div>
      </nav>
</div>