<div class="wrapper dark-navbar">
    <nav id="nav" class="navbar navbar-expand-md navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-nav mr-auto logo">
          <a class="navbar-brand" href="#landing">
            <img src="https://img.icons8.com/fluent/200/000000/source-code.png" width="30" height="30" class="d-inline-block align-top" alt="Code-logo" loading="lazy">
          </a>
          <p class="title">ben ruwel</p>
        </div>
        
        <div class="navbar-nav">
          <a class="nav-link"  href="#about" >About</a>
          <a class="nav-link" href="#skills">Skills</a>
          <a class="nav-link" href="#projects">Projects</a>
          <a class="nav-link" href="#contact">Contact me</a>
        </div>
        
      </div>
      </nav>
</div>