

<div id="projects" class="projects">
    <div class="container">

        <div class="projects-title">
            <p class="title">Projects</p>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 project-display">
                <div class="card">
                    <img src="../../../assets/images/mambo-pesa-mockup.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column">
                        <img src="../../../assets/images/android-brands-copy.svg" alt="android" height="30" width="30">
                        <a href="https://github.com/benruwel/MamboPesa" rel="noopener noreferrer" target="_blank"class="card-title mt-auto">MamboPesa</a>
                        <p class="card-text">
                            This is an Android app that allows users to plan their budget by calculating 
                            their expenses as they save them. It also has secondary features such as currency conversion and
                            realtime forex rates
                        </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 project-display">
            <div class="card">
                <img src="../../../assets/images/GHSearch-mockup.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column">
                    <img src="../../../assets/images/angular-brands-copy.svg" alt="android" height="30" width="30">
                    <a href="https://benruwel.github.io/GHSearch/" rel="noopener noreferrer" target="_blank" class="card-title mt-auto">GHSearch</a>
                    <p class="card-text">Web app built with Angular and Bootstrap that allows users to look for GitHub user and public repos by querying the GitHub API</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 project-display">
            <div class="card">
                <img src="../../../assets/images/herosquad-mockup.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column">
                    <img src="../../../assets/images/java-icon-copy.svg" alt="android" height="30" width="30">
                    <a href="https://herosquad-benruwel.herokuapp.com/" rel="noopener noreferrer" target="_blank"class="card-title mt-auto">HeroSquad</a>
                    <p class="card-text">Fun app that implements concept of Objects within Objects by creating squads and adding heroes to them.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 project-display">
                <div class="card">
                    <img src="../../../assets/images/wildlife-tracker-mockup.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column">
                        <img src="../../../assets/images/java-icon-copy.svg" alt="android" height="30" width="30">
                        <a href="https://wildlife-tracker-benruwel.herokuapp.com/" rel="noopener noreferrer" target="_blank"class="card-title mt-auto">Wildlife Tracker</a>
                        <p class="card-text">This application allows Rangers to track wildlife sightings in the area.The application tracks two categories of wildlife: endangered species and the common ones.</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    </div>
    