

<div class="container projects">
    <div class="projects-title">
        <p class="title">Projects</p>
    </div>
        
        <div class="row">
            <div class="col-md-6 project-display">
                <div class="card">
                    <img src="../../../assets/images/mambo-pesa-mockup.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column">
                        <img src="../../../assets/images/android-brands-copy.svg" alt="android" height="50" width="50">
                        <h5 class="card-title mt-auto">MamboPesa</h5>
                        <p class="card-text">
                            This is an Android app that allows users to plan their budget by calculating 
                            their expenses as they save them. It also has secondary features such as currency conversion and
                            realtime forex rates
                        </p>
                </div>
              </div>
            </div>
        <div class="col-md-6 project-display">
            <div class="card">
                <img src="../../../assets/images/GHSearch-mockup.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column">
                    <img src="../../../assets/images/angular-brands-copy.svg" alt="android" height="50" width="50">
                  <h5 class="card-title mt-auto">GHSearch</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 project-display">
            <div class="card">
                <img src="../../../assets/images/herosquad-mockup.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column">
                    <img src="../../../assets/images/java-icon-copy.svg" alt="android" height="50" width="50">
                    <h5 class="card-title mt-auto">Hero Squad</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
        </div>
        <div class="col-md-6 project-display">
            <div class="card">
                <img src="../../../assets/images/wildlife-tracker-mockup.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column">
                    <img src="../../../assets/images/java-icon-copy.svg" alt="android" height="50" width="50">
                  <h5 class="card-title mt-auto">Widlife tracker</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
        </div>
    </div>
    
    
</div>
