@import "../../../styles.scss";

.projects{
    padding-top: 100px;
    background-color: #e5e5e5;
    display:flex;
    width: 100%;
    flex-direction: column;
}
.card{
    border: none;
    width: 520px;
}


.card-img-overlay{
    color: white;
    background-image: linear-gradient(#11151c0e, #11151cbd);
}
.row{
    margin-bottom: 30px;
}