
    <div id="landing" class="hero animate__animated animate__fadeInDown">
        <p class="hero-text" #blinkingText>
            {{ '{' }} <br>
            &nbsp;&nbsp;I design and develop
            <br>&nbsp;&nbsp;experiences that make 
            <br>&nbsp;&nbsp;people's lives 
            <br>&nbsp;&nbsp;<span class="font-weight-bold">simple</span> <br>
            {{ '}' }}
        </p>
        <img class="arrow-down" src="https://img.icons8.com/fluent/100/000000/down.png" alt="arrow-down" height="40" width="40"/>
    </div>
