@import "../../../styles.scss";


.skills{    
    background-color: #e5e5e5;
    padding-top: 50px;
}
.title{
    font-size: 18px;
    font-family: 'Viga', sans-serif;
    color:$prussian-blue;
}
.sub-title{
    font-size: 16px;
    color:$slate-gray;
}
.languages-img{
    padding-top: 20px;
}