<div id="skills" class="skills">
    <div class="container">

        <div class="projects-title">
            <p class="title">Skills</p>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p class="sub-title">Languages</p>
                <img src="../../../assets/images/Java_logo_icon.png" alt="Java" width="300" height="200">
                <div class="row languages-img">
                    <div class="col">
                        <img src="../../../assets/images/javascript_logo.png" alt="JS" height="100" height="100">
                    </div>
                    <div class="col">
                        <img src="../../../assets/images/html_logo.png" alt="html5" height="100" height="100">
                    </div>
                    <div class="col">
                        <img src="../../../assets/images/c-programming-logo.png" alt="C" height="100" height="100">
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="sub-title">Development technologies and tools</p>
                <div class="col">
                    <img src="../../../assets/images/angular_logo.jpg" alt="Angular" width="200" height="200">
                    <img src="../../../assets/images/Android_symbol_green_RGB.png" alt="html5" height="150" height="150">
                </div>
                <div class="row">
                    <div class="col">
                        <img src="../../../assets/images/Firebase_Logo.png" alt="Firebase" height="100" height="100">
                    </div>
                    <div class="col">
                        <img src="../../../assets/images/postgres_png.png" alt="Postgres" height="100" height="100">
                    </div>
                    <div class="col">
                        <img src="../../../assets/images/figma.png" alt="Figma" height="100" height="100">
                    </div>
                    <div class="col">
                        <img src="../../../assets/images/spark_apche_png.png" alt="Apache Spark" height="100" height="100">
                    </div>
                    <div class="col">
                        <img src="../../../assets/images/node_js_logo.jpg" alt="Node JS" height="100" height="100">
                    </div>
            </div>
        </div>
    </div>
</div>